TODO.md
._*
node_modules
ehthumbs.db
Thumbs.db
.history
.Spotlight-V100
.Trashes
.gitconfig
.DS_Store
.DS_Store?
.vscode
shutdown_if_inactive_logs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
__pycache__
.env
.venv/
.idea
venv